# live/av-azure/prod/prod.tfvars.example

#
# Template for configuring the production environment in Azure.
#
# INSTRUCTIONS:
# 1. Copy this file to 'prod.tfvars'.
# 2. Replace the example values with your own.
# 3. Run 'terraform apply -var-file="prod.tfvars"' from the /environments/examplecorp/prod directory.
#------------------------------------------------------------------------------------

# --- Naming Convention Components ---
company_abbr = "excorp" # A short (3-6 character) abbreviation for your project or company.
environment  = "prod"   # The environment name (e.g., dev, prod, test).
region_abbr  = "west"   # A short, lowercase abbreviation for your Azure region (e.g., west, east, north).

# Global Settings
location = "westus" # The full name of the Azure region. Must match the region_abbr.

# Resource Group Settings
resource_group_name = "examplecorp-resources-prod"

# Private DNS Zone Settings
private_dns_zone_name = "examplecorp.postgres.database.azure.com"

# VNet Settings
virtual_network_name          = "examplecorp-vnet"
virtual_network_address_space = ["10.0.0.0/16"]
subnets = {
  "frontend-subnet" = {
    address_prefixes  = ["10.0.1.0/24"]
    service_endpoints = ["Microsoft.Storage"]
  },
  "backend-subnet" = {
    address_prefixes  = ["10.0.2.0/24"]
    service_endpoints = ["Microsoft.Storage"]
  },
  "database-subnet" = {
    address_prefixes  = ["10.0.3.0/24"]
    service_endpoints = ["Microsoft.Storage"]
    delegation_name   = "Microsoft.DBforPostgreSQL/flexibleServers"
  }
}

# Virtual Machine Settings
vm_size          = "Standard_B1s"
create_public_ip = false

# Virtual Machine - source image reference
image_publisher = "Canonical"
image_offer     = "0001-com-ubuntu-server-jammy"
image_sku       = "22_04-lts-gen2"
image_version   = "latest"

# Azure Managed - Database Settings
db_version                    = 14
db_storage_mb                 = 32768
public_network_access_enabled = false

# Storage Account Settings
storage_account_name = "examplecorpstore"
container_names      = ["backup-data"]

# Common Tags
common_tags = {
  Owner       = "automation-team"
  Environment = "examplecorp-prod"
  ManagedBy   = "Terraform"
  Repo        = "github.com/examplecorp/terraform"
}