# /labsterraform/environments/examplehomelab/examplehomelab.tfvars.example
#
# This file contains the non-sensitive configuration for the examplehomelab environment.
# It should be safely committed to version control.
#
# INSTRUCTIONS:
# 1. Copy this file to 'examplehomelab.tfvars'.
# 2. Replace the example values with your own.
# 3. Run 'terraform apply -var-file="examplehomelab.tfvars"' from the /environments/examplehomelab directory.
#------------------------------------------------------------------------------------

common_tags = [
  "infrastructure-as-code"
]