# live/av-azure/dev/dev.tfvars.example

# --- Naming Convention Components ---
company_abbr = "azlab"
environment  = "prod"
region_abbr  = "uks"

# Global Settings
location = "uksouth"

# Resource Group Settings
resource_group_name = "azhomelab-resources-prod"

# Private DNS Zone Settings
private_dns_zone_name = "clouddawnfas.postgres.database.azure.com"

# VNet Settings
virtual_network_name          = "azhomelab-vnet"
virtual_network_address_space = ["10.1.0.0/16"]
subnets = {
  "azhomelab-frontend" = {
    address_prefixes  = ["10.1.1.0/24"]
    service_endpoints = ["Microsoft.Storage"]
  },
  "azhomelab-backend" = {
    address_prefixes  = ["10.1.2.0/24"]
    service_endpoints = ["Microsoft.Storage"]
  },
  "database-subnet" = {
    address_prefixes  = ["10.1.3.0/24"]
    service_endpoints = ["Microsoft.Storage"]
    delegation_name   = "Microsoft.DBforPostgreSQL/flexibleServers"
  }
}

# Virtual Machine Settings
vm_size          = "Standard_B1s"
create_public_ip = false

# Virtual Machine - source image reference
image_publisher = "Canonical"
image_offer     = "0001-com-ubuntu-server-jammy"
image_sku       = "22_04-lts-gen2"
image_version   = "latest"

# Azure Managed - Database Settings
db_version                    = 14
db_storage_mb                 = 32768
public_network_access_enabled = false

# Storage Account Settings
storage_account_name = "azhomelabstoredata"
container_names      = ["longhornbackup"]

# Common Tags
common_tags = {
  Owner       = "fasautomation"
  Environment = "azhomelab"
  ManagedBy   = "Terraform"
  Repo        = "github.com/fashomelab/terraform"
}